body {
    background-color: rgb(236, 236, 98);
}

h1,
h2 {
    color: orange
}

p {
    color: saddlebrown;
}

.post {
    background-color: orange;
    border-radius: 5px;
    padding: 1.01em;
    margin: 15px;
}